    .page-section {
        padding: 10px !important;
    }
    
    input:invalid {
      border: 2px dashed red;
    }

    input:invalid:required {
      background-image: linear-gradient(to right, pink, lightgreen);
    }

    input:valid {
      border: 2px solid black;
    }

    .form-control {
        display: block;
        width: 50% !important;
        height: 45px;
        padding: 6px 12px;
        font-size: 20px;
        line-height: 1.42857143;
        color: #212529;
        background-color: #fff;
        background-image: none;
        border: 2px solid rgb(255, 0, 0);
        border-radius: 10px;
    }
    
    .form-control2 {
        display: inline;
        width: 8%;
        height: 40px;
        padding: 4px 7px 4px;
        font-size: 20px;
        line-height: 1.42857143;
        color: #212529;
        background-color: #fff;
        background-image: none;
        border: 4px solid #e41919;
        border-radius: 15px;
    }

    iframe {overflow:hidden}
    body { backgorund-color: #222222 !important }
    
    input, textarea {
	    color: #000000 !important;
	}

	.container {
	  position: relative;
	  overflow: hidden;
	  width: 100%;
	  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	}

	/* Then style the iframe to fit in the container div with full height and width */
	.responsive-iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	}
